<div class="container">
  <h2 class="mt-5 borderHeadersProfile">About <%= @user.first_name %></h2>
  <div class="d-flex justify-content-center mt-5">
    <div class="card position-relative" id="cardProfile" style="width: 450px;">
      <div class="card-body d-flex align-items-center justify-content-evenly">
        <!-- Affichage de la photo de profil -->
        <div class="my-4">
          <%= image_tag(@user.profile_picture.present? ? @user.profile_picture : "logo.png",
                        alt: "Profile Picture",
                        class: "rounded-circle imgProfile") %>
          <div class="text-center mt-2">
            <h2><em><%= @user.first_name %></em></h2>
            <% if @user.adverts.blank? %>
              <h5>Traveller</h5>
            <% else %>
              <h5>Traveller / Host</h5>
            <% end %>
          </div>
        </div>
        <div id="lineY"></div>
        <div>
          <div>
            <p class="m-0"><%= @user.adverts.count %></p>
            <h4>Adverts</h4>
          </div>
          <hr>
          <div>
            <% time_ago = distance_of_time_in_words_to_now(@user.created_at) %>
            <% time_parts = time_ago.split(' ') %>
            <% number = time_parts[0] %>
            <% unit = time_parts[1] %>
            <p class="m-0"><%= number %></p>
            <h4><%= unit %> registered </h4>
          </div>
        </div>
      </div>
        <% if @user == current_user %>
          <%= link_to edit_user_registration_path, class: "btn btn-outline-success position-absolute", id:"editButton" do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>

          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-danger position-absolute", id:"logoutButton" do %>
          <i class="fa-solid fa-right-from-bracket"></i>
          <% end %>
        <% end %>
    </div>
  </div>

  <% if @user.city.present? || @user.country.present? %>
    <p class="mt-4"><i class="fa-solid fa-globe me-3"></i>Lives in <%= @user.city %>, <%= @user.country %></p>
  <% end %>
  <hr class="my-5">
  <h2 class="borderHeadersProfile" ><%= @user.first_name %>'s listings (<%= @user.adverts.count %>)</h2>
  <% if @user.adverts.present? %>
    <% if @user == current_user %>
      <div class="d-flex justify-content-<%=@user.adverts.count <= 2 ? 'start' : 'between'%>" id="containerListingProfile">
        <% @user.adverts.each do |advert| %>
          <div class="col-12 col-md-6 col-lg-4 mb-0">
            <!-- Card component wrapped in link_to -->
              <div class="card shadow-sm mt-5 me-3 cardAdverts cardProfile position-relative" style="height: 400px;">
                <!-- Card Header with Poster URL -->
                <div class="card-header p-0" style="height: 50%; overflow: hidden;">
                  <% if advert.images.present? %>
                    <%= image_tag advert.images.first, alt: "alttext", style: "height: 100%; width:100%; object-fit: cover;" %>
                  <% else %>
                    <%= image_tag "test.jpg", alt: "alttext", style: "height: 100%; width:100%; object-fit: cover;" %>
                  <% end %>
                </div>

                <!-- Card Body with Title, Rating, and Overview -->
                <div class="card-body position-relative" style="height: 35%; overflow: auto;">
                  <h4 class="card-title m-0 mb-1"><strong><%= advert.title %></strong></h4>
                  <p class="m-0"><em><%= advert.city %>, <%= advert.country %></em></p>
                  <div class="d-flex flex-wrap align-items-center justify-content-evenly mt-4 detailsAdvert">
                    <p class="mb-0"><i class="fa-solid fa-users me-3"></i><%= advert.max_guests %></p>
                    <p class="mb-0"><i class="fa-solid fa-moon me-3"></i><%= advert.min_nights %></p>
                    <p class="mb-0"><i class="fa-solid fa-bed me-3"></i><%= advert.bedrooms %></p>
                    <p class="mb-0"><i class="fa-solid fa-bath me-3"></i><%= advert.bathrooms %></p>
                  </div>
                </div>

                <!-- Card Footer with Price -->
                <div class="card-footer d-flex justify-content-between align-items-center" style="height: 15%;">
                  <p class="mb-0" id="priceAdvert">€ <%= advert.price %> / night</p>
                  <div>
                    <%= link_to advert_path(advert), class: "btn btn-outline-success", id:"editButton" do %>
                      <i class="fa-solid fa-eye"></i>
                    <% end %>
                    <%= link_to edit_advert_path(advert), class: "btn btn-outline-success", id:"editButton" do %>
                      <i class="fa-solid fa-pencil"></i>
                    <% end %>
                    <%= button_to advert_path(advert), method: :delete, form_class: 'delete-alertbox', class: "btn btn-outline-danger", id:"editButton" do %>
                      <i class="fa-solid fa-trash-can"></i>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="d-flex justify-content-<%=@user.adverts.count <= 2 ? 'start' : 'between'%>" id="containerListingProfile">
        <% @user.adverts.each do |advert| %>
          <div class="col-12 col-md-6 col-lg-4 mb-0">
            <!-- Card component wrapped in link_to -->
            <%= link_to advert_path(advert), class: "text-decoration-none" do %>
              <div class="card shadow-sm mt-5 me-3 cardAdverts cardProfile position-relative" style="height: 400px;">
                <!-- Card Header with Poster URL -->
                <div class="card-header p-0" style="height: 50%; overflow: hidden;">
                  <% if advert.images.present? %>
                    <%= image_tag advert.images.first, alt: "alttext", style: "height: 100%; width:100%; object-fit: cover;" %>
                  <% else %>
                    <%= image_tag "test.jpg", alt: "alttext", style: "height: 100%; width:100%; object-fit: cover;" %>
                  <% end %>
                </div>

                <!-- Card Body with Title, Rating, and Overview -->
                <div class="card-body position-relative" style="height: 35%; overflow: auto;">
                  <h4 class="card-title m-0 mb-1"><strong><%= advert.title %></strong></h4>
                  <p class="m-0"><em><%= advert.city %>, <%= advert.country %></em></p>
                  <div class="d-flex flex-wrap align-items-center justify-content-evenly mt-4 detailsAdvert">
                    <p class="mb-0"><i class="fa-solid fa-users me-3"></i><%= advert.max_guests %></p>
                    <p class="mb-0"><i class="fa-solid fa-moon me-3"></i><%= advert.min_nights %></p>
                    <p class="mb-0"><i class="fa-solid fa-bed me-3"></i><%= advert.bedrooms %></p>
                    <p class="mb-0"><i class="fa-solid fa-bath me-3"></i><%= advert.bathrooms %></p>
                  </div>
                </div>

                <!-- Card Footer with Price -->
                <div class="card-footer d-flex justify-content-between align-items-center" style="height: 15%;">
                  <p class="mb-0" id="priceAdvert">€ <%= advert.price %> / night</p>
                  <div class="d-flex align-items-center">
                  <% if advert.user.profile_picture.present? %>
                    <%= image_tag advert.user.profile_picture, alt: "Profile Picture" %>
                  <% else %>
                    <%= image_tag "logo.png", alt: "Profile Picture" %>
                  <% end %>
                  <p class="mb-0 ms-1" id="hostName"><%= advert.user.first_name %></p>
                </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% else %>
      <p class="text-center mt-4"><strong><%= @user.first_name %> has not post any adverts yet.</strong></p>
  <% end %>
  <% if @user == current_user %>
    <hr class="my-5">
    <h2 class="borderHeadersProfile"><%= @user.first_name %>'s bookings (<%= @user.bookings.count %>)</h2>
    <% if @user.bookings.blank? %>
      <p class="text-center mt-4"><strong><%= @user.first_name %> has not made any bookings yet.</strong></p>
    <% else %>
      <div class="d-flex justify-content-<%=@user.adverts.count <= 2 ? 'start' : 'between'%>" id="containerListingProfile">
        <% @user.bookings.each do |booking| %>
            <div class="col-12 col-md-6 col-lg-4 mb-0">
              <!-- Card component wrapped in link_to -->
              <div class="card shadow-sm mt-5 me-3 cardAdverts cardProfile position-relative" style="height: 400px;">
                <!-- Card Header with Poster URL -->
                <div class="card-header p-0" style="height: 50%; overflow: hidden;">
                  <% if booking.advert.images.present? %>
                    <%= image_tag booking.advert.images.first, alt: "alttext", style: "height: 100%; width:100%; object-fit: cover;" %>
                  <% else %>
                    <%= image_tag "test.jpg", alt: "alttext", style: "height: 100%; width:100%; object-fit: cover;" %>
                  <% end %>
                </div>

                <!-- Card Body with Title, Rating, and Overview -->
                <div class="card-body position-relative" style="height: 35%; overflow: auto;">
                  <h4 class="card-title m-0 mb-1"><strong><%= booking.start_date.strftime("%d/%m/%y") %> - <%= booking.end_date.strftime("%d/%m/%y") %></strong></h4>
                  <p class="m-0"><em><%= booking.advert.city %>, <%= booking.advert.country %></em></p>
                  <div class="d-flex flex-wrap align-items-center justify-content-evenly mt-4 detailsAdvert">
                    <p class="mb-0"><i class="fa-solid fa-users me-3"></i><%= booking.advert.max_guests %></p>
                    <p class="mb-0"><i class="fa-solid fa-moon me-3"></i><%= booking.advert.min_nights %></p>
                    <p class="mb-0"><i class="fa-solid fa-bed me-3"></i><%= booking.advert.bedrooms %></p>
                    <p class="mb-0"><i class="fa-solid fa-bath me-3"></i><%= booking.advert.bathrooms %></p>
                  </div>
                </div>

                <!-- Card Footer with Price -->
                <div class="card-footer d-flex justify-content-between align-items-center" style="height: 15%;">
                  <p class="mb-0" id="priceAdvert">€ <%= number_with_precision(booking.total_price, precision: (booking.total_price % 1 == 0 ? 0 : 2)) %> / <%= pluralize(booking.nights_count, "night")%></p>
                  <div>
                    <%= link_to advert_path(booking.advert), class: "btn btn-outline-success", id:"editButton" do %>
                      <i class="fa-solid fa-eye"></i>
                    <% end %>

                    <% if booking.start_date > Date.today %>
                      <%= button_to booking_path(booking), method: :delete, form_class: 'delete-alertbox', class: "btn btn-outline-danger", id:"editButton" do %>
                        <i class="fa-solid fa-trash-can"></i>
                      <% end %>
                    <% elsif booking.start_date <= Date.today && booking.end_date >= Date.today %>
                      <div class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="Your stay has started, enjoy! (<%= booking.start_date.strftime("%d/%m/%y") %> - <%= booking.end_date.strftime("%d/%m/%y") %>)">
                        <i class="fa-solid fa-spinner spin"></i>
                      </div>
                    <% else %>
                      <%= link_to "#{advert_path(booking.advert)}#review-form", class: "text-decoration-none" do %>
                        <i class="fa-solid fa-comment-medical"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
