<header>
  <nav class="navbar navbar-expand-lg py-3">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand me-0" do %>
        <%= image_tag "logo.png", alt: "alttext", class: "logo", style: "width:50px" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mb-2 mb-lg-0 align-items-center justify-content-end w-100">
          <li class="nav-item">
            <%= form_with(url: adverts_path, method: :get, local: true, class: 'd-flex align-items-center position-relative me-3') do |f| %>
              <%= f.label :query, class: 'visually-hidden' %>
              <%= f.text_field :query, placeholder: "Search by city, state or country...", value: params[:query], class: "form-control", id: "inputSearch" %>
              <button type="submit" class="btn" id="iconSearch">
                <i class="fas fa-search"></i>
              </button>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "New advert", new_advert_path, class: "btn btn-outline-success btn-lg me-3" %>
            </li>
            <li class="nav-item">
              <%= link_to "Profile", profile_path(current_user), class: "btn btn-outline-success btn-lg" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign-In", new_user_session_path, class: "btn btn-outline-success btn-lg" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <% if current_page?(root_path) || current_page?(adverts_path) %>
    <nav id="categoriesNav">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <%= form_with(url: adverts_path, method: :get, local: true, class: 'd-flex align-items-center justify-content-evenly') do %>
              <% Category.all.each do |category| %>
                <% active_class = params[:category].to_i == category.id ? 'active' : '' %>
                <button type="submit" name="category" value="<%= category.id %>" class="btn d-flex flex-column align-items-center justify-content-center categoriesButton <%= active_class %> ">
                  <% icon_class = case category.name
                    when 'Apartment' then 'building'
                    when 'House' then 'house'
                    when 'Room' then 'bed'
                    when 'Bungalow' then 'caravan'
                    when 'Chalet' then 'tree'
                    when 'Mansion' then 'house-chimney-crack'
                    when 'Unusual' then 'igloo'
                    when 'Villa' then 'house-flood-water'
                    when 'Studio' then 'city'
                    when 'Farm' then 'cow'
                    else 'question'
                  end %>
                  <i class="fa-solid fa-<%= icon_class %>"></i>
                  <span><%= category.name %></span>
                </button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
  <% end %>

</header>
