<% if @user == current_user %>
  <div class="d-flex justify-content-<%=@user.adverts.count <= 2 ? 'start' : 'between'%>" id="containerListingProfile">
    <% @user.adverts.each do |advert| %>
      <div class="col-12 col-md-6 col-lg-4 mb-0">
        <!-- Card component wrapped in link_to -->
          <div class="card shadow-sm mt-5 me-3 cardAdverts cardProfile position-relative" style="height: 400px;">
            <!-- Card Header with Poster URL -->
            <div class="card-header p-0" style="height: 50%; overflow: hidden;">
              <% if advert.images.present? %>
                <%= image_tag advert.images.first, alt: "alttext", style: "height: 100%; width:100%; object-fit: cover;" %>
              <% else %>
                <%= image_tag "test.jpg", alt: "alttext", style: "height: 100%; width:100%; object-fit: cover;" %>
              <% end %>
            </div>

            <!-- Card Body with Title, Rating, and Overview -->
            <div class="card-body position-relative" style="height: 35%; overflow: auto;">
              <h4 class="card-title m-0 mb-1"><strong><%= advert.title %></strong></h4>
              <p class="m-0"><em><%= advert.city %>, <%= advert.country %></em></p>
              <div class="d-flex flex-wrap align-items-center justify-content-evenly mt-4 detailsAdvert">
                <p class="mb-0"><i class="fa-solid fa-users me-3"></i><%= advert.max_guests %></p>
                <p class="mb-0"><i class="fa-solid fa-bed me-3"></i><%= advert.bedrooms %></p>
                <p class="mb-0"><i class="fa-solid fa-bath me-3"></i><%= advert.bathrooms %></p>
              </div>
            </div>

            <!-- Card Footer with Price -->
            <div class="card-footer d-flex justify-content-between align-items-center" style="height: 15%;">
              <p class="mb-0" id="priceAdvert">€ <%= advert.price %> / night</p>
              <div>
                <%= link_to advert_path(advert), class: "btn btn-outline-success", id:"editButton" do %>
                  <i class="fa-solid fa-eye"></i>
                <% end %>
                <%= link_to edit_advert_path(advert), class: "btn btn-outline-success", id:"editButton" do %>
                  <i class="fa-solid fa-pencil"></i>
                <% end %>
                <%= button_to advert_path(advert), method: :delete, form_class: 'delete-alertbox', class: "btn btn-outline-danger", id:"editButton" do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="d-flex justify-content-<%=@user.adverts.count <= 2 ? 'start' : 'between'%>" id="containerListingProfile">
    <% @user.adverts.each do |advert| %>
      <div class="col-12 col-md-6 col-lg-4 mb-0">
        <!-- Card component wrapped in link_to -->
        <%= link_to advert_path(advert), class: "text-decoration-none" do %>
          <div class="card shadow-sm mt-5 me-3 cardAdverts cardProfile position-relative" style="height: 400px;">
            <!-- Card Header with Poster URL -->
            <div class="card-header p-0" style="height: 50%; overflow: hidden;">
              <% if advert.images.present? %>
                <%= image_tag advert.images.first, alt: "alttext", style: "height: 100%; width:100%; object-fit: cover;" %>
              <% else %>
                <%= image_tag "test.jpg", alt: "alttext", style: "height: 100%; width:100%; object-fit: cover;" %>
              <% end %>
            </div>

            <!-- Card Body with Title, Rating, and Overview -->
            <div class="card-body position-relative" style="height: 35%; overflow: auto;">
              <h4 class="card-title m-0 mb-1"><strong><%= advert.title %></strong></h4>
              <p class="m-0"><em><%= advert.city %>, <%= advert.country %></em></p>
              <div class="d-flex flex-wrap align-items-center justify-content-evenly mt-4 detailsAdvert">
                <p class="mb-0"><i class="fa-solid fa-users me-3"></i><%= advert.max_guests %></p>
                <p class="mb-0"><i class="fa-solid fa-bed me-3"></i><%= advert.bedrooms %></p>
                <p class="mb-0"><i class="fa-solid fa-bath me-3"></i><%= advert.bathrooms %></p>
              </div>
            </div>

            <!-- Card Footer with Price -->
            <div class="card-footer d-flex justify-content-between align-items-center" style="height: 15%;">
              <p class="mb-0" id="priceAdvert">€ <%= advert.price %> / night</p>
              <div class="d-flex align-items-center">
              <% if advert.user.profile_picture.present? %>
                <%= image_tag advert.user.profile_picture, alt: "Profile Picture" %>
              <% else %>
                <%= image_tag "logo.png", alt: "Profile Picture" %>
              <% end %>
              <p class="mb-0 ms-1" id="hostName"><%= advert.user.first_name %></p>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
