<div class="container">
  <div class="row">
    <% if @adverts.blank? %>
      <h1 class="text-center mt-5 my-4">There are no adverts yet</h1>
    <% else %>
      <% @adverts.each do |advert| %>
        <div class="col-12 col-md-6 col-lg-4 mb-0">
          <!-- Card component wrapped in link_to -->
          <%= link_to advert_path(advert), class: "text-decoration-none" do %>
            <div class="card shadow-sm mt-5 cardAdverts" style="height: 400px;">
              <!-- Card Header with Poster URL -->
              <div class="card-header p-0" style="height: 50%; overflow: hidden;">
                <%= image_tag "test.jpg", alt: "alttext", style: "height: 100%; width:100%; object-fit: cover;" %>
              </div>

              <!-- Card Body with Title, Rating, and Overview -->
              <div class="card-body position-relative" style="height: 35%; overflow: auto;">
                <h4 class="card-title m-0 mb-1"><strong><%= advert.title %></strong></h4>
                <p class="m-0"><em><%= advert.city %>, <%= advert.country %></em></p>
                <div class="d-flex flex-wrap align-items-center justify-content-evenly mt-4 detailsAdvert">
                  <p class="mb-0"><i class="fa-solid fa-users me-3"></i><%= advert.max_guests %></p>
                  <p class="mb-0"><i class="fa-solid fa-moon me-3"></i><%= advert.min_nights %></p>
                  <p class="mb-0"><i class="fa-solid fa-bed me-3"></i><%= advert.bedrooms %></p>
                  <p class="mb-0"><i class="fa-solid fa-bath me-3"></i><%= advert.bathrooms %></p>
                </div>
              </div>

              <!-- Card Footer with Price -->
              <div class="card-footer d-flex justify-content-between align-items-center" style="height: 15%;">
                <p class="mb-0" id="priceAdvert">€ <%= advert.price %> / night</p>
                <p class="mb-0" id="hostName"><i class="fa-solid fa-user me-2"></i><%= advert.user.first_name %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
