<div class="container">
  <div class="d-flex justify-content-center my-5">
    <div class="card cardFormRadius" style="width: 500px;">
      <div class="card-body">
        <h2 class="card-title text-center">Advert Details - Confirmation</h2>
        <div>
          <strong>Title:</strong>
          <%= @advert.title %>
        </div>
        <div>
          <strong>Description:</strong>
          <%= @advert.description %>
        </div>
        <div>
          <strong>Price:</strong>
          <%= @advert.price %>
        </div>
        <!-- Affiche d'autres détails de l'annonce ici -->
        <%= simple_form_for @advert, url: wizard_path, method: :put do |f| %>
          <% if step != :general %>
            <%= f.button :submit, class: "btn btn-secondary btn-lg", name: "previous", value: "Previous" %>
          <% end %>
          <%= f.submit 'Submit', class: "btn btn-success btn-lg", name: "submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
