<div class="container">
  <div class="d-flex justify-content-center my-5">
    <div class="card cardFormRadius" style="width: 500px;">
      <div class="card-body">
        <h2 class="card-title text-center">Advert Details - More Information</h2>
        <%= simple_form_for @advert, url: wizard_path, method: :put do |f| %>
          <%= f.input :check_in, placeholder: "Check-in time", input_html: { class: 'form-control' } %>
          <%= f.input :check_out, placeholder: "Check-out time", input_html: { class: 'form-control' } %>
          <%= f.input :price, input_html: { class: 'form-control', min: 1 } %>
          <%= f.input :house_rules, placeholder: "e.g., no smoking, no parties...", input_html: { class: 'form-control' } %>
          <% if step != :general %>
            <%= f.button :submit, class: "btn btn-secondary btn-lg", name: "previous", value: "Previous" %>
          <% end %>
          <div class="form-actions text-center">
            <%= f.button :submit, class: "btn btn-success btn-lg", name: "next" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
